---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
				
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				color: rgb(216, 216, 216);
			}
			main{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<Header />
		<center><img src="../../public/logo.gif" alt="logo-gif"></center>
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li id="entry">
								<time datetime={post.frontmatter.pubDate}>
									{new Date(post.frontmatter.pubDate).toLocaleDateString('es-ES', {
										year: 'numeric',
										month: 'numeric',
										day: 'numeric',
									})}
								</time>
								<a href={post.url}>
									<ul id="entry-info">
										<li><p id="entry-title">{post.frontmatter.title}</p></li>
										<li><p id="entry-description">{post.frontmatter.description}</p></li>
									</ul>
								</a>
							</li>
						))
					}
				</ul>
				<style>
					#entry{
						list-style-type: none;
						margin: 5px;
						padding-left: 10px;
						font-size: 18px;
					}
					time{
						font-size: 15px;
						text-align: left;
						vertical-align: middle;
						display: flex;
						align-items: center;
						text-align: center;
					}
					#entry > a:hover{
						text-decoration: none;
					}
					#entry-info{
						border-left: 3px solid mediumslateblue;
						padding-left: 10px;
					}

					#entry-title{
						font-weight: 700;
						font-size: 20px;
						margin: 0;
					}
					#entry-description{
						font-size: 16px;
						margin: 0;
					}
				</style>
			</section>
		</main>
		<Footer/>
	</body>
</html>
